@font-face {
    font-family: neon-tube;
    src: url(../font/NeonTubes2.otf);
}

.about-grid-container {
    max-width: 100%;
    width: 100%;
}

.about-grid-container::before {
    display: block; 
    content: ""; 

    height: var(--fixed-height); 
    margin-top: var(--neg-fixed-height);

    visibility: hidden; 
    pointer-events: none;
}

/* about */
.section-container {
    max-height: 100vh;
    height: 100vh;

    max-width: 100%;
    width: 100%;

    background-color: var(--light-black);
}


.section-container > .content {
    position: absolute;

    max-height: 80%;
    height: 80%;
    margin-top: 10%;
    margin-bottom: 10%;

    max-width: 60%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;

    padding-top: 30vh;

    z-index: 2;

    color: var(--pastel-blue);
}

.content > h1 {
    text-align: center;

    font-family: var(--landing-desc-font);

    font-size: 5rem;
}

.neon {
    font-family: neon-tube;
    color: var(--neon-yellow);
}

/* for normal laptop screens */
@media screen and (max-width: 1600px) {
    .content > h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .content > h1 {
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 500px) {

}