@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* variables */
:root {
    --black: rgb(0, 0, 0);
    --light-black: rgb(20, 20, 20);
    --lighter-black: rgba(0, 0, 0, 0.5);
    --white: rgb(255, 255, 255);
    --dark-white: rgb(243, 243, 243);
    --darker-white: rgb(225, 225, 225);
    --pastel-orange: rgb(255, 179, 71);
    --pastel-blue: #28546d;
    --fadein-bg: rgba(0,0,0,0.3);
    --colour1: #67f3da;
    --colour2: #f16f6f;
    --pastel-pink: #fdc5c4;
    --pastel-blue: #c8e8e3;

    --title-font: 'Share Tech', sans-serif;
    --desc-font: 'Roboto', sans-serif;
    --landing-desc-font: 'Dosis', sans-serif;
    --landing-main-title: 'Press Start 2P', cursive;

    --fixed-height: 5rem;
    --neg-fixed-height: -5rem;
    --nav-height: calc(0.5*5rem);
    --nav-top-bot-margin: calc(0.25*5rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    background-color: var(--lighter-black);
    color: var(--light-black);

    max-width: 100%;
    width: 100%;
}

/* header */
.header {
    position: fixed;
    top: 0;

    max-width: 100%;
    width: 100%;
    
    max-height: var(--fixed-height);
    height: var(--fixed-height);

    z-index: 3;

    background-color: var(--light-black);

    font-family: var(--title-font);
}

.header li {
    list-style: none;
}

.header a {
    text-decoration: none;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* To centralise the nav bar */
    max-height: var(--nav-height);
    height: var(--nav-height);
    margin-top: var(--nav-top-bot-margin);
    margin-bottom: var(--nav-top-bot-margin);

    padding-left: 1rem;
    padding-right: 1rem;
}

.hamburger {
    display: none;

    /* To centralise the nav bar */
    max-height: var(--nav-height);
    height: var(--nav-height);
    margin-top: var(--nav-top-bot-margin);
    margin-bottom: var(--nav-top-bot-margin);
}

.bar {
    display: block;
    width: 1.5625rem;
    height: 0.1875rem;
    margin: 0.3125rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--pastel-blue);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
}

.nav-item {
    margin-left: 3rem;
}

.nav-link{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--pastel-blue);
}

.nav-logo {
    font-size: 2rem;
    font-weight: 500;
    color: var(--pastel-blue);
}

.nav-link:hover,
.nav-logo:hover {
    color: var(--pastel-orange);
}

/* footer */
.footer {
    bottom: 0;

    max-width: 100%;
    width: 100%;

    max-height: var(--fixed-height);
    height: var(--fixed-height);

    font-family: var(--title-font);

    background-color: var(--light-black);
    color: var(--pastel-blue);
}

/* to block links */
.block {
    cursor: not-allowed !important;
}

/* gap above a div */
.gap {
    margin-top: var(--fixed-height);
}

/* responsive nav bar */
@media screen and (max-width: 835px) {
    .nav-menu {
        position: fixed;
        left: -100%; /* to hide menu when not using */
        top: var(--fixed-height);
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;

        background-color: var(--light-black);
    }

    .nav-menu.active {
        left: 0; /* when active, menu remain aligned to left position 0 */
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    /* converts hamburger into cross */
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}