:root {
    --transition-time: 0.15s;
}

/* change colours */
body.light {
    background-color: var(--darker-white);
}

.nav-link.light,
.nav-logo.light,
.footer.light {
    color: var(--pastel-orange);
}

.nav-link.light:hover ,
.nav-logo.light:hover {
    color: var(--pastel-blue);
}

/* colour accents */
.bar.light,
.buttons.light:hover,
.buttons.light.selected,
.parallelogram-underline.light,
.side-block.light:hover {
	background-color: var(--pastel-orange);
}

.card-title.light,
.card-description.light,
.summary.light {
    color: var(--darker-white);
}

/* landing page */
.landing-logo.light {
    background-image: url(../images/logo-light.png);
    background-size: 100% var(--landing-height);
    height: var(--landing-height);
    width: 100%;
}

/* footer */
.footer-bg.light {
    background-image: url(../images/footer-light.png);
    background-size: 100% var(--footer-height);
    height: var(--footer-height);
    width: 100%;
}

/* about page */
.section-container.light {
    background-image: url(../images/footer-light.png);
}

.panel.light {
    background-color: rgba(255, 255, 255, 0.8);
}

.panel.light .content {
    color: var(--black);
}

.neon.light {
    color: var(--pastel-orange);
}

/*******    button itself   ********/
.buttonBox {
    position: fixed;
    bottom: 0;
    right: 0;

    margin: 1rem;

    z-index: 4;
}

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;

    box-shadow: 0 0 5px var(--black);

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    -webkit-transition: var(--transition-time);
    transition: var(--transition-time);
}
.dark .slider {
    /* background-color: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%)); */
    background-color: var(--pastel-blue);
}
.light .slider {
    background-color: var(--pastel-orange);
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    -webkit-transition: var(--transition-time);
    transition: var(--transition-time);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.dark .slider.round:before {
    margin-left: -8px;
    margin-bottom: 5px;
    background-color: transparent;
    box-shadow: 8px 5px 0px 0px var(--black); 
}
.light .slider.round:before {
    margin-left: 0px;
    margin-bottom: 0px;
    background-color: var(--white);
    box-shadow: none; 
}