/* landing */
#landing {
    max-height: 100vh;
    height: 100vh;

    background-color: var(--light-black);
}

#landing::before, #main::before, #side::before, .pagination::before {
    display: block; 
    content: "";

    height: var(--fixed-height);

    visibility: hidden; 
    pointer-events: none;
}

/* main */
.grid-container {
    max-width: 100%;
    width: 100%;
   
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
        "main side"
        "nav nav";
}

#main {
    grid-area: main;
    border-right: 1px dotted var(--lighter-black);
}

.main-title {
    font-family: var(--title-font);
    text-align: center;

    font-size: 2rem;

    max-width: 15rem;
    width: 15rem;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.side-title {
    font-family: var(--title-font);
    text-align: center;

    font-size: 0.9rem;

    max-width: 6rem;
    width: 6rem;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

/* parallelogram */
.parallelogram-underline {
    width: 100%;

    margin-top: -0.5rem;

	height: 0.5rem;
	transform: skew(-45deg);
    
	background: var(--pastel-orange);
}

.side-title .parallelogram-underline {
    margin-top: -0.1rem;
    height: 0.4rem;
}

/* fade in */
.fadein {
    position: relative;
    max-width: 80%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
     
    /* edit this to change the card height */
    max-height: 45vh;
    height: 45vh;

    margin-top: 1rem;
}

.card {
    display: block;
    width: 100%;
    height: 100%;

    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.overlay {
    position: absolute;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100%;
    width: 100%;
    opacity: 0;
  
    background-color: var(--fadein-bg);

    transition: .5s ease-in-out;

    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.overlay.active {
    opacity: 1;
    z-index: 1;
}

.summary {
    position: absolute;
    
    padding: 1rem;
    text-align: justify;
    color: var(--white);
    font-size: 1.25rem;
}

.card-title {
    font-size: 4rem;

    color: var(--darker-white);

    font-family: var(--title-font);

    margin-left: 1rem;
}

.initial {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    background-color: var(--fadein-bg);

    border-bottom-left-radius: 1rem;

    opacity: 1;
    transition: .5s ease-in-out;
}

.initial.hide {
    opacity: 0;
}

.card-description {
    font-size: 1rem;
    margin-left: 1rem;

    color: var(--white);

    font-family: var(--desc-font);
}

.dark {
    color: var(--black);
}

/* main-side */
#side {
    grid-area: side;
}

.side-block {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 
        "img desc";
    
    margin-top: 1rem;

    max-width: 80%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.side-block:hover {
    background: var(--pastel-orange);
    border-radius: 1rem;
    cursor: pointer;
}

.pic {
    grid-area: img;
    max-width: 100%;
    width: 4rem;
    max-height: 100%;
    height: 4rem;
    border-radius: 0.5rem;

    overflow: hidden; /* to hide img if larger that max dimensions */
}

.desc {
    grid-area: desc;
    font-family: var(--title-font);
}

.desc > .topic {
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;

    color: var(--lighter-black);
}
.desc > .title {
    margin-left: 1rem;
    font-size: 1.5rem;
    
    text-align: left;
}

/* Pagination */
.pagination {
    grid-area: nav;
	display: inline-block;
	width: 100%; /* fills the whole div */
	text-align: center;
}

.pagination > a {
    display: inline-block;

	padding: 0.15rem 0.6rem;
    margin-bottom: 0.125rem;

    background-color: var(--light-black);
	color: var(--pastel-orange);

    border-radius: 1rem;
}

.pagination a:hover, .pagination a.selected {
	background-color: var(--pastel-orange);
	color: var(--light-black);
}

/* responsiveness */
/* half screens */
@media screen and (max-width:1100px) {
    /* main */
    .grid-container {
        max-width: 100%;
        width: 100%;

        grid-template-columns: 1fr;
        grid-template-areas: 
            "main"
            "side"
            "nav";
    }

    .side-title {    
        font-size: 2rem;

        max-width: 15rem;
        width: 15rem;
        
        margin-left: auto;
        margin-right: auto;

        margin-bottom: 1rem;
    }
    
    .side-title .parallelogram-underline,
    .main-title .parallelogram-underline {
        margin-top: 0;
        height: 0.5rem;
    }

    /* edit this to change the width of related segment */
    .side-block {
        max-width: 40%;
        width: 40%;
    }
    /*##############################*/
    
    #main {
        border-right-style: none;
    }

    .pagination {
        margin-top: 0;
    }

    .pagination > a {
	    padding: 0.15rem 0.6rem;
    }
}

@media screen and (max-width: 700px) {
    .card-title {
        font-size: 3.5rem;
    }
    .card-description {
        font-size: 0.8rem;
    }
    .side-title, .main-title {
        font-size: 1.8rem;
        max-width: 13rem;
        width: 13rem;
    } 
    .summary {
        font-size: 1rem;
    }
    .pagination > a {
	    padding: 0.15rem 0.5rem;
    }
}

@media screen and (max-width: 500px) {
    .card-title {
        font-size: 2.5rem;
    }
    .side-title, .main-title {
        font-size: 1.1rem;
        max-width: 8rem;
        width: 8rem;
    }
    .desc > .title {
        font-size: 1.4rem;
    }
    .desc > .topic {
        font-size: 1rem;
    }
    .side-block {
        max-width: 60%;
        width: 60%;
    }
    .side-title .parallelogram-underline,
    .main-title .parallelogram-underline {
        height: 0.3rem;
    }
}

@media screen and (max-width: 360px) {
    .card-title {
        font-size: 2.3rem;
    }
    .desc > .title {
        font-size: 1.3rem;
    }
    .desc > .topic {
        font-size: 1rem;
    }
    .side-title .parallelogram-underline,
    .main-title .parallelogram-underline {
        height: 0.3rem;
    }
}